
<!--Include header-->
<%- include('include/_header')%>
<!--/Include header-->

<div class="front">
    <div class="container">
        <h3 class="text-center mt-5 mb-5">LoginAs</h3>
        <div class="row">
            <div class="col text-center m-2 justify-content-center front-btn">
                <a class="btn btn-primary rounded-pill"  id="btn1" href="/teacherLogin" role="button">Teacher</a>
                <a class="btn btn-primary rounded-pill"  id="btn2" href="/student" role="button">Student</a>
            </div>
        </div>
    </div>
    
</div>

<!--Include footer-->
<%- include('include/_footer')%>
<!--/Include footder-->
